
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .email-msg {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  .content-page {
    margin-left: 0px !important;
  }
  .footer {
    left: 0px !important;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .wizard > .steps > ul > li {
    width: 100%;
  }
  .wizard > .content {
    padding: 0px !important;
  }
  .wizard > .content > .body {
    float: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .wizard.vertical > .steps {
    display: inline;
    float: none;
    width: 100%;
  }
  .wizard.vertical > .content {
    display: inline;
    float: none;
    margin: 0%;
    width: 100%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  .todo-send {
    margin-top: 10px;
    padding-left: 15px;
  }
  .chat-inputbar {
    padding-left: 15px;
  }
  .chat-send {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
  .product-search {
    margin-bottom: 30px;
  }
  .top-menu-item-xs {
    display: inline-flex !important;
  }
  .dropdown-menu-lg {
    width: 240px !important;
  }
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .search-bar {
    display: none !important;
  }
  .ms-container {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
@media (max-width: 419px) {
  .topbar-left {
    width: 70px !important;
  }
  .logo .icon-c-logo {
    display: inline-block !important;
    line-height: 58px !important;
  }
  .logo span {
    display: none !important;
  }
  .conversation-list .conversation-text,
  .conversation-list .odd .conversation-text {
    width: 100% !important;
  }
}

@media (max-width: 991px) {
  .col-md-6, .col-md-4, .col-md-8, .col-md-3 {
    width: 100% !important;
    float: none !important;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
    padding-top: 10px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }
  .button-list .btn {
    flex: 1 1 40%;
    margin: 5px;
  }
  .card-box {
    padding: 15px;
  }
  #cartTable .row > div {
    margin-bottom: 5px;
  }
  .btn-label {
    display: none; /* Hide labels in buttons on mobile to save space */
  }
  .btn i {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .button-list .btn {
    flex: 1 1 100%;
  }
  h1, h2, h3 {
    font-size: 1.5rem;
  }
}
